header.bg-red-400.py-1
    ul 
        li 
            a(href="./about.html") go to about
        li 
            a(href="./index.html") go to index 
        li
            a(href="http://", target="_blank", rel="noopener noreferrer") fdshjhdsfhjdshfjk
        li 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iusto consequuntur explicabo ipsum magni, quibusdam neque assumenda ratione sapiente ab quam qui eum dignissimos maiores perferendis debitis vero laudantium magnam?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iusto consequuntur explicabo ipsum magni, quibusdam neque assumenda ratione sapiente ab quam qui eum dignissimos maiores perferendis debitis vero laudantium magnam?
            p Lorem ipsum dolor sit
            p djfhjdshfjhsdjhfjdsf 
        picture 
            img(src="./img/Citrus.jpg", alt="", srcset="")