doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        link(rel="stylesheet", href="./css/main.css")
    body.mx-5.px-10.bg-green-500 
        include ./blocks/header/header
        include ./blocks/sec__index/text
        p.title.p-6.my-10.text-white jdhfjdhfjhdjhfjhdf
        include ./blocks/footer/footer
        p.title.grid.gap-10  
            span.font-titleFont.text-5xl Tailwind?
            span.text-9xl.text-white Tall
        p.bg-emerald-500.text-6xl .dhfghgdhfghdgfhgdf
        script(src="./js/main.js") 